@media only screen and (min-width: 32rem) {
    header, main, nav, footer {
        max-width: 1200px;
        margin: 0 auto;
    }

    header span{
        display: block;
        color: black;
        text-align: left;
        margin-left: 10px;
    }

    .hamburger {
    display: none;
    }

    .navigation {
        display: flex;
        border-bottom: solid 1px #eee;
        justify-content: flex-end; /* Align content to the right */

    }

    .navigation ul {
        display: flex;
        margin: 0;
        padding: 0 20px; 
    }

    .navigation li {
        margin-left: 30px; /* Control the spacing between each link */
    }
    .navigation a {
        border: none;
    }

    /* --------About-------------- */
    #book-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;

    }



    /* ----------Finance---------- */

    .finance-cards {
    /* use grid-template-areas */
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 1fr; 
    }

    .finance-cards div {
    /* use grid-template-areas */
    display: grid;
    grid-template-areas: 
    
    "name name"
    "image author"
    "image review"   
    "image learnmore"    
    ;
    }

    .finance-cards div img {
    margin-top: 15px;
    justify-self: center;
    }

    .finance-cards div button {
        height: 50px;
        margin-bottom: 5px;
    }

    /* ----contact ----- */
    .contact {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    
    .member-grid .member-cards {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }


    /* footer */
        .footer-content {
        display: grid;    
        grid-template-columns: 1fr 1fr 1fr; 
        grid-gap: 20px; 
        padding: 20px;
        text-align: start;
        max-width: 1200px;
    }


}   